---
- name: Configure Amazon Linux 3 EC2
  hosts: web
  become: true

  tasks:

    - name: Install Docker
      yum:
        name: docker
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ec2-user to docker group
      user:
        name: ec2-user
        groups: docker
        append: yes

    - name: Pull Nginx Docker image
      docker_image:
        name: nginx:latest
        source: pull

    - name: Run Nginx container
      docker_container:
        name: webserver
        image: nginx:latest
        state: started
        restart_policy: unless-stopped
        ports:
          - "80:80"





