name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 100.53.17.17 >> ~/.ssh/known_hosts

      - name: Deploy on EC2
        run: |
          ssh ec2-user@100.53.17.17 "
            docker pull nginx:latest &&
            docker stop webserver || true &&
            docker rm webserver || true &&
            docker run -d -p 80:80 --name webserver nginx:latest
          "
