name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts
        env:
          EC2_HOST: 100.53.17.17  # your EC2 public IP

      - name: Deploy Docker container
        run: |
          ssh -i ~/.ssh/id_rsa ec2-user@${{ secrets.EC2_HOST }} "
            docker pull nginx:latest &&
            docker stop webserver || true &&
            docker rm webserver || true &&
            docker run -d -p 80:80 --name webserver nginx:latest
          "
        env:
          EC2_HOST: 100.53.17.17
